<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.0/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/vue/2.6.7/dist/vue.js}"></script>
</head>
<body>
	<div id="app">
		请指定随机数的范围： <input v-model="index"><br>
		生成的随机数： {{message}}<br>
		<button v-on:click="getRandom(index)">获取随机数</button>		
	</div>
</body>
<script type="text/javascript">
    // v-on:click  属性可以为所在标签添加一个点击事件，但是注意，这个事件函数必须是来自于 Vue 对象的。
    //             我们不可以添加 Vue 对象以外定义的事件函数
	var app = new Vue({
		el : "#app",
		data: {message: "", index: ""},
	    methods: {
			getRandom: function(index){
				this.message = Math.ceil(Math.random() * index);
			}
		} 
	})
    
    // 不可以绑定 haha 函数
    function haha(){
    	app.message = "haha";
    }
</script>
</html>