<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.0/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/vue/2.6.7/dist/vue.js}"></script>
</head>
<body>
	<div id="app">
		<p>试图动态获取输入框的值： {{message}}</p>
		<input v-model="message">
	</div>
</body>
<script type="text/javascript">
    // v-model 可以把一个输入框的value值绑定到vue 对象中的某个值，如果我们使用 v-model 绑定的话
    //          用户通过输入框修改 value 值， vue 对象里面的值也会跟着变化 
    // 我们前面也讲过给一个标签的属性绑定值， v-bind:属性名    ， 但是那种绑定是单向绑定，即当 vue 对象里面的值变化 
    //  标签的属性值也会跟着变化 。  但是如果标签的属性值发生变化 ， vue 对象里面的值并不会产生相应的变化 。
    
    // 【注意】 v-model 只能用在特定的表单标签上，比如  <input> / <select> / <textarea> / <button> 等
	var app = new Vue({
		el: "#app",
		data: {message : "hello vue!"}
	})
</script>
</html>